.big_button {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.current_technique {
	font-size: 40pt;
	text-align: center;
}

#head_bg {
	background-image: url(../img/tatsu-md.jpg);
	background-position: center center;
}

#head_title {
	color: white;
	background-color: black;
	text-align: center;
}